table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightblue;
}

.click-item {
  /* background-color: #c1e1c1; */
  background-color: lightgrey;
  text-decoration: line-through;
}
